<article class="product-box">
    <div class="product-img"> 
      <a href="products/detail/<%= product.id %>"><img src="images/products/<%=product.image%>" alt="<%=product.title %>"/></a>
    </div>
    <div class="product-title">
      <h4><%=product.title %></h4>
      <span>$ <%=product.price %></span>
    </div>            
  </article>
  